@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.card {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;

  border-radius: 2rem;
  padding: 2px;
  box-shadow: 0 5px 5px rgba(130, 130, 130, .5);
  text-align: center;
}

.card-item {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,.1);
}

.card img {
  width: 100%;
  height: 200px;
}

.card-text-content {
  display: flex;
  flex-direction: column;
}